Data/binance_ETHUSDT_data.csv
Data/trades_df.csv
Logs/
Signal/
Data/
Logs/log
Logs/Log1.txt
Data/trade_details.csv
Data/trades_df.xlsx
Data/binance_ETHUSDT_MACD.xlsx
Data/trades_df.xlsx
Data/trade_details.csv
Signal/Price.txt
Logs/*
Data/*/.csv
Data/*/.xlxs
Signal/*
Signal/MACD.txt
Signal/Price.txt
email_price_notify.py
email_send.py
Signal/Predict_price.txt
Signal/Predict_sell_price.txt
